$icon-font-path: "../styles/fonts/"; // Change the path to the fonts
@import "bootstrap-sass/lib/bootstrap";

body {
  background-color: #faf4f1;
}

.navbar {
  margin-bottom: 20px;
}

.navbar-inverse {
  background-color: #ff6600;
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2),0 0 4px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2),0 0 4px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2),0 0 4px rgba(0, 0, 0, 0.05);
}

.navbar-inverse .navbar-brand {
  padding-top: 7px;
  color: #fff;
  margin-right: 50px;
  font-size: 30px;
}

.navbar-inverse .navbar-brand > span {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.navbar-inverse .navbar-brand:hover > span {
  -webkit-transform: scale(2) rotate(360deg);
  -moz-transform: scale(2) rotate(360deg);
  -ms-transform: scale(2) rotate(360deg);
  -o-transform: scale(2) rotate(360deg);
  transform: scale(2) rotate(360deg);
}

.jumbotron {
  text-align: center;
  background-color: transparent;
}

footer {
  margin: 30px 0;
  padding-top: 20px;
  color: #999;
  border-top: 1px solid rgba(0,0,0,0.15);
}

.sidebar {
  display: block;
  padding: 0 0 20px;
  background: #f4ece9;
  border-left: 1px solid #d4ccc8;
  border-right: 1px solid #d4ccc8;
}

.sidebar-header {
  background-color: #f16f58;
  margin-left: -1px;
  margin-right: -1px;
  margin-top: 0;
  padding: 20px;
  font-size: 16px;
  color: #fff;
}

.sidebar-content {
  padding: 20px;
}

.flight-boxes {
  margin: 10px 0;
  overflow: hidden;
}

.flight-boxes-list {
  padding-left: 0;
  list-style: none;
}

.flight-boxes-list li {
  float: left;
  width: 23%;
  min-height: 115px;
  padding: 10px;
  line-height: 1.4;
  background-color: #fff;
  margin: 10px 0 10px 10px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
  box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
}

.flight-boxes-list li.promo {
  background-color: #f6f6f6;
}

.home-search .form-control {
  width: 150px;
}
