<div class="form-group">
  <div class="btn-group" data-toggle="buttons">
    <label id="label-return" {{bind-attr class=":btn :btn-primary isReturn:active"}}>
      <input type="radio" name="options" id="toggle-return"> Return
    </label>
    <label id="label-one-way"  {{bind-attr class=":btn :btn-primary isReturn::active"}}>
      <input type="radio" name="options" id="toggle-oneway"> One Way
    </label>
  </div>
</div>
